@import '../../constants.scss';

.MenuItem {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

.MenuItem {
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.MenuItem.selected {
  background-color: $accent-color;
}

.MenuItem:hover {
  background-color: $accent-color;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

@media (min-width: 600px) {
  .MenuItem {
    border-bottom: 3px solid $accent-color;
  }
}

@media (max-width: 600px) {
  .MenuItem {
    border-top: 1px solid $accent-color;
  }
}
